# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.vs/
bin/
certifi/
certifi-2024.2.2.dist-info/
charset_normalizer/
charset_normalizer-3.3.2.dist-info/
idna/
idna-3.6.dist-info/
node_modules/
requests/
requests-2.31.0.dist-info/
urllib3/
urllib3-2.2.1.dist-info/





# Serverless directories
.serverless